.dialogo {
	font-style: italic;
	padding-left: 2em;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

.centrado{
display:block;
margin:auto;
}

.texto-principal{
	font-style: monaco;
}

.opciones{

  background-color: rgba( 0,0,0,.2);
  color: black;
  font-weight: bold;
}

.error{
	color:red;
	font-weight:bold;
}
